.hero-section {
    padding: 50px;
    margin-right: 100px;
    margin-left: 100px;
}


.hero-text-box {
    display: flex;
    height: fit-content; 
}

.hero-text-box h1 {
    font-weight: 200;
}

.profile-description {
    width: 50%;
}

.profile-description p {
    padding: 10px;
}

.profile-photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

button {
    background-color: #fc6c64;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}