.hero-section {
    background-color: aquamarine;
    padding: 50px;
    margin-right: 100px;
    margin-left: 100px;
}


.hero-text-box {
    display: flex;
    height: fit-content; 
}

.hero-text-box h1 {
    font-weight: 200;
}

.profile-description {
    width: 50%;
}

.profile-description p {
    padding: 10px;
}

.profile-photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
