.posts-section {
    background-color:#f0f4fc;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.posts-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 5px;
}

.more-posts a {
    text-decoration: none;
    color: rgb(55, 55, 221);
}

.post-cards {
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.card {
    padding: 20px;
    background-color: white;
    width: 300px;
    height: 200px;
    margin-right: 20px;
}