/* import reset css first */
/* @import url("css/reset.css"); */

/* then everyone else... */
@import url("css/footer.css");
@import url("css/header.css");
@import url("css/hero.css");
@import url("css/navbar.css");
@import url("css/posts.css");
@import url("css/works.css");
@import url("css/variables.css");

/* i don't know why i'm commenting on this */
h1,h2,h3,p,a {
    font-family: var(--fontFamily);
    color: var(--fontColor);
}

h1 {
    font-size: 26px;
}

